extends layout

block content
    .w3-container.w3-light-red
      h1 Error Occurred
      p The Inquirição ID you are trying to access does not exist. Please try again.

    .w3-container.w3-margin-top
      a.w3-button.w3-green(href='/posts') Return to Posts
